# 🧠 Cérebro do Agente (OpenAI)
OPENAI_API_KEY=sua_chave_aqui

# ⚡ Conexão Agentic API
NEURALSAFETY_API_URL=http://neural-apise-bj09fmanbkaf-1397022059.sa-east-1.elb.amazonaws.com
NEURALSAFETY_API_KEY=sua_chave_agentic_aqui
